<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :prep_time_hours %>
    <%= form.number_field :prep_time_hours %>
  </div>

  <div class="field">
    <%= form.label :prep_time_minutes %>
    <%= form.number_field :prep_time_minutes %>
  </div>

  <div class="field">
    <%= form.label :cook_time_hours %>
    <%= form.number_field :cook_time_hours %>
  </div>

  <div class="field">
    <%= form.label :cook_time_minutes %>
    <%= form.number_field :cook_time_minutes %>
  </div>

  <div class="field">
    <%= form.label :serving_size %>
    <%= form.text_field :serving_size %>
  </div>

  <div class="field">
    <%= form.label :servings %>
    <%= form.text_field :servings %>
  </div>

  <div class="field">
    <%= form.label :instructions %>
    <%= form.text_area :instructions %>
  </div>

  <div class="field">
    <%= form.label :instruction_video %>
    <%= form.text_field :instruction_video %>
  </div>

  <div class="field">
    <%= form.label :style %>
    <%= form.text_field :style %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
