<div class='form-row'>
  <div class='col'>
  <%= form_with(model: recipe, local: true) do |form| %>
    <% if recipe.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

        <ul>
          <% recipe.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group form-row">
      <%= form.label :title, class: 'col-form-label' %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group form-row">
      <div class="form-group col-md-6">
        <%= form.label :prep_time_hours, 'Prep Time Hours', class: 'col-form-label' %>
        <%= form.number_field :prep_time_hours, class: 'form-control' %>
      </div>

      <div class="form-group col-md-6">
        <%= form.label :prep_time_minutes, 'Minutes', class: 'col-form-label' %>
        <%= form.number_field :prep_time_minutes, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group form-row">
      <%= form.label :cook_time_hours, class: 'col-form-label' %>
      <%= form.number_field :cook_time_hours, class: 'form-control' %>
    </div>

    <div class="form-group form-row">
      <%= form.label :cook_time_minutes, class: 'col-form-label' %>
      <%= form.number_field :cook_time_minutes, class: 'form-control' %>
    </div>

    <div class="form-group form-row">
      <%= form.label :serving_size, class: 'col-form-label' %>
      <%= form.text_field :serving_size, class: 'form-control' %>
    </div>

    <div class="form-group form-row">
      <%= form.label :servings, class: 'col-form-label' %>
      <%= form.text_field :servings, class: 'form-control' %>
    </div>

    <div class="form-group form-row">
      <%= form.label :instructions, class: 'col-form-label' %>
      <%= form.text_area :instructions, class: 'form-control' %>
    </div>

    <div class="form-group form-row">
      <%= form.label :instruction_video, class: 'col-form-label' %>
      <%= form.text_field :instruction_video, class: 'form-control' %>
    </div>

    <div class="form-group form-row">
      <%= form.label :style, class: 'col-form-label' %>
      <%= form.text_field :style, class: 'form-control' %>
    </div>

    <div class="form-group form-row">
      <%= form.label :notes, class: 'col-form-label' %>
      <%= form.text_area :notes, class: 'form-control' %>
    </div>

    <div class="form-group form-row">
      <%= form.label :description, class: 'col-form-label' %>
      <%= form.text_field :description, class: 'form-control' %>
    </div>

    <div class="form-group form-row">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
  </div>
</div>
